@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar{
	display: none !important;
}

.app {
	height: 100vh;
	width: 100%;
}

.arrowBack__navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
  
	color: rgb(24, 23, 23);
	padding: 10px;	
  }

.app__body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.app__body::-webkit-scrollbar{
	display: none !important;
}
