.link {
    text-decoration: none;
    color: #302630;
}

.chat {
    display: flex;
    align-items: center;
    padding: 0px 10px 7px 10px;
    height: 60px;
    background-color: #ffffff;
}

.chatDark{
    background-color: #242526;
}

.peopleIcon {
    margin-left: 10px;
    font-size: 14px;
}

a:link {
    text-decoration: none;
 
}

.chat__text {
    display: flex;
    margin-left: 10px;
    align-items: center;
    /* border-bottom: 1px solid rgb(241, 241, 241); */
    flex: 1;
    /* padding-bottom: 10px; */
}

.chatDark .chat__text {
    border-bottom: 1px solid rgb(131, 131, 131);
}

.chat__textInfo {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;

}

.chat__textInfoTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__textInfoTop p {
    font-size: 16px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chatDark .chat__textInfoTop h4 {
    color: rgb(255, 255, 255);
}

.chat__textInfo>p {
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  overflow-wrap: break-word;
  align-items: center;
  text-overflow:ellipsis;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
    color: #606060;
    font-size: 15px;
    margin-right: 10px;
    /* padding-bottom: 10px; */
}

.chatDark .chat__timestamp {
    color: #a39d9d;
}

.chat__timestamp {
    color: gray;
    font-size: 12px;
}

.chatDark .chat__message {
    color: #a7a1a1;
}

.chat:hover {
    background-color: #f3f5f3;
    cursor: pointer;
    border-radius: 4px;
}

.chatDark.chat:hover{
    background-color: rgb(49, 49, 49) !important;
}