.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 70px;
  user-select: none !important;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none !important;
}

.herobanner {
  display: flex;
  margin-top: 50px;
  padding: 10px;
}

.topMentor__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.topMentor__flex {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  background-color: rgb(133, 78, 78);
  padding: 20px 0;
}

.mentors {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(252, 248, 248);
}

.seeMore {
  background-color: #a5219e !important;
  color: #fff !important;
  font-size: 18px;
  text-transform: initial !important;
}

@media screen and (min-width: 759px) {
  .mentors {
    align-items: center;
    width: 100%;
  }
}
