.profile{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile__header{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.profile__card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
}

.profile__avatar{
    height: 80px !important;
    width: 80px !important;
}

.profile__cardInfo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.profile__cardInfo h4 {
    text-align: center;
    font-size: 20px;
}

.profile__cardInfoFollow{
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px 0;
}

.bullet{
    font-size: 8px !important;
}

.followers{
    margin-right: 10px;
}

.following{
    margin-left: 10px;
}

.profile__cardButtons{
    display: flex;
}

.profile__cardButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
    width: 120px;
    background-color: white;
    font-size: 15px;
    border-color: rgb(29, 214, 214);
}

.profile__cardButton{
    margin-right: 8px;
    font-size: 18px;
    color: gray;
}

.profile__tabs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}